$footer: #26d0ff;
footer {
	height:10vh;
	position: relative;
	.option {
		display: inline-block;
		color:$footer;
	&:nth-of-type(1) {
		position: relative;
		left:4em;
		top:0;
	}
	&:nth-of-type(2) {
		position: absolute;
		right:4em;
		top:0;
	}
	}
}