//variables;
$titleBg: #26d0ff;
$titleCol: #ffffff;
.main {
	.mainTitle {
		background: $titleBg;
		button {
		height: 10vh;
		color: $titleCol;
		margin:0.5em;
		font-size: 28px;
	  }
	}
	.mainItems {
		.avatar {
			display: inline-block;
		}
		.jobDes {
			display: inline-block;
			margin-left: 1em;
		}
		.jobLocation, .jobBranch {
			color: $titleBg;
			text-decoration: underline;
			&+mat-divider {
				margin-top: 1em;
			}
		}
		.jobLocation, .jobBranch {
			color: $titleBg;
		}
	}
}